/* Add CSS Styling */
.class-1 {
    background-color: #f08080;
    font-family: "Verdana", "DejaVu Sans", sansserif;
}

.cooler-class {
    font-size: 24px;
}

#id-1 {
    color: #0000ff;
    font-size: 36px;
}

#id-2 {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}